<div class="book-container">
  <div class="book-content">
    <div class="book-header">
      <div class="header-content">
        <h1>{{ page.title | default: site.title }}</h1>
        {% if page.subtitle %}
        <div class="subtitle">{{ page.subtitle }}</div>
        {% endif %}
      </div>
    </div>

    <div class="content-wrapper">
      <div class="page-content">
        {{ content }}
      </div>
    </div>

    <div class="book-footer">
      <p>&copy; {{ site.time | date: '%Y' }} Pragmatic Python. Prayson Wilfred Daniel. All rights reserved.</p>
    </div>
  </div>
</div>
